body {
  margin:0;
  font-family:Arial;
  background:#eef3fb;
}

.login-box {
  width:350px;
  margin:120px auto;
  background:#fff;
  padding:30px;
  border-radius:12px;
  text-align:center;
}

.login-box input {
  width:100%;
  padding:12px;
  margin:10px 0;
}

.login-box button {
  width:100%;
  padding:12px;
  background:#3b82f6;
  color:#fff;
  border:none;
}

.page {
  display:flex;
  justify-content:center;
  padding-top:60px;
}

.card {
  width:900px;
  background:#fff;
  padding:30px;
  border-radius:16px;
}

.form-grid {
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:15px;
}

textarea {
  height:150px;
}

button {
  padding:15px;
  background:#3b82f6;
  color:#fff;
  border:none;
}
