body{
  background:#eef3fb;
  font-family:Arial;
}

.login-box{
  width:300px;
  margin:120px auto;
  background:#fff;
  padding:30px;
  border-radius:12px;
  text-align:center;
}

input,textarea{
  width:100%;
  padding:12px;
  margin:10px 0;
}

button{
  padding:12px;
  width:100%;
  background:#3b82f6;
  color:#fff;
  border:none;
}

.page{
  display:flex;
  justify-content:center;
  padding-top:60px;
}

.card{
  width:900px;
  background:#fff;
  padding:30px;
}
