body {
  font-family: Arial;
  background: #f4f6f9;
}

.card {
  width: 550px;
  margin: 60px auto;
  padding: 25px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

h2 {
  text-align: center;
}

input, textarea {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

textarea {
  height: 120px;
}

button {
  width: 100%;
  padding: 12px;
  margin-top: 12px;
  border: none;
  background: #3b82f6;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}
